*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: #2d232c;
}
.navbar-links a:hover{
    text-decoration: underline;
    color: #2d232c;
}
.navbar-toggle{
    display: none;
}
@media screen and (max-width:700px){
    .navbar-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
}
.side-navbar{
    width: 50%;
    height: 100%;
    background-color: #2d232c;
    padding: 20px;
    position: fixed;
    left: -60%;
    top: 0;
    transition: 2s;
}
.side-navbar-link{
    margin-bottom: 30px;
    
}
.side-navbar-links a{
    color: white;
    text-decoration: none;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header button{
    background-color: #2d232c;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 5px;
}
.service1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.service2{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;    
}
.service2 div{
    
    background-color: #f2f4f7;
    border-radius: 10px;
    padding: 10px;
}
.newArrival{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.newArrival-container{
    position: relative;
    flex-basis: 20%;
}
.newArrival-container button{
    padding: 10px;
    border: none;
    position: absolute;
    top: 40%;
    left: 20%;
    border-radius: 10px;
}
.service3{
    padding-top: 20px;
}
.service3 h2{
    padding-left: 20px;
    padding-bottom: 20px;
}
.news{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news input{
    margin-top: 10px;
    width: 80vw;
    padding: 10px;
    margin-bottom: 10px;
    border: solid black 3px;
}
.news button{
    padding:10px;
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius: 10px;
}
.footer{
    background-color: #1d232c;
    margin-top: 20px;
    color: #f2f4f7;
    padding: 40px;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 3px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.product-search input{
    width: 100%;
    border: none;
    background:transparent;
}
.product-search input:focus{
    outline: none; 
}
.products{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}
.product-box{
    text-align: center;
    flex-basis: 20%;
}
.product-box img{
    border-radius: 10px;
}
.contact-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    background-color: #1d232c;
    color: white;
    padding: 40px;
    margin: 0 auto;
    width: 80%;
    gap: 10px;
    border-radius: 10px;
}
.contact-form input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
}
.contact-form button{
    width: 8%;
    padding: 8px;
    border-radius: 5px;
    background-color: blue;
    border: none;
    color: white;
}
.contact-form textarea{
    padding: 10px;
    border-radius:5px;
    outline: none;
}
@media screen and (max-width:700px){
    .header-image{
        display: none;
    }
    .service1{
        display: none;
    }
    .service2{
        flex-direction: column;
    }
    .newArrival-container{
        flex-basis: 40%;
    }
}